Flask
supabase
python-dotenv
phidata
openai
duckduckgo-search
newspaper3k
PyGithub
python-jose
python-multipart
uvicorn
gunicorn
asgiref
flask-cors
langchain-openai 
langchain 
langchain-community 
langchain-text-splitters 
langchain-core 
langchain-experimental
pypdf
chromadb
tiktoken
psycopg2-binary
pandas
tenacity
tqdm
